</div>

<script src="/scripts/particles.js"></script>

<script>
    particlesJS.load('particles-js', '/config/particles.json', function () {
        console.log('callback - particles.js config loaded');
    });
</script>
</body>

</html>
